*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f7f3f0;
}


.navbar{
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: wheat;
    

}
.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-icon{
    font-size: 1.5rem;
}
/* sidemenu */
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s;
}
/* end of sidemenu */

.experience{
    padding-left: 120px;
    margin-top: 60px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Canela",Arial,Helvetica,sans-serif;
}
.experience h1{
    letter-spacing: 0.8rem;
}
.design{
    text-align: center;
    letter-spacing: 1.5rem;
    font-size: 3.5rem;
}
.showcase{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.showcase img{
    width: 300px;
    height: 400px;
}
hr{
    margin-top: 50px;

}

.section-1 {
    margin: 2rem 0;
}

.section-1 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-1 {
    font-size: 2rem;
}
.section-1 .img1{
    max-height: 100%;
    height: 100%;
   
    padding-left: 150px;
    margin-top: 80px;
}
.section-1 .img2{
    width: 80%;
    margin: auto;
    float: right;
}

.section-1 p {
    margin: 1rem 0;
}
.section-1 h2{
    letter-spacing: 0.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact{
    color: #fff;
    background: #171614;
}
.contact p{
    padding-top: 40px;
    padding-left: 50px;
}
.contact h1{
    padding-left: 50px;
    padding-top: 30px;
    letter-spacing: 0.5rem;
    font-size: 100px;
}

/* .circle{
    color: #171614;
    background-color: #fff;
    border-radius: 80px;
    text-align: center;
    width: 250px;
    height: 200px;
    margin-top: 80px;
  
}
.circle h5{
    padding-top: 80px;
} */

.circle-cover{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}
.circle-cover h3{
    margin-top: 80px;
    padding-left: 70px;
    margin-bottom: 50px;
    line-height: 2.5rem;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}
.footer h3{
    margin-top: 70px;
    margin-bottom: 80px;
    padding-left: 70px;
}
a{
    text-decoration: none;
    color: #fff;
}